<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.care.ttbatis.ttMapper">
	<insert id="regmember" parameterType="memdto">
		insert into member (m_id, m_pw, m_name, m_idnum, m_gender, m_tel, m_mail) values (#{m_id},#{m_pw},#{m_name},#{m_idnum},#{m_gender},#{m_tel},#{m_mail})
	</insert>
	
	<!-- 일반 로그인임. -->
	 <select id="loginchk" resultType="memdto" parameterType="String">
   		select * from member where m_id=#{m_id}
   </select> 
</mapper>